<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ch4_JETPACK_1"
        tools:targetApi="31">
        <activity
            android:name=".ch5_room.lec9_ROOM_MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ch5_room.lec8_ROOM_ViewModelScope_LiveData_RV_Activity"
            android:exported="false" />
        <activity
            android:name=".ch5_room.lec7_ROOM_ViewModelScope_Activity"
            android:exported="false" />
        <activity
            android:name=".ch5_room.lec6_ROOM_MultiTable_Activity"
            android:exported="false" />
        <activity
            android:name=".ch5_room.lec5_ROOM_Activity"
            android:exported="false" />
        <activity
            android:name=".ch5_room.lec4_ROOM_Activity"
            android:exported="true" />
        <activity
            android:name=".ch5_room.lec2_SQLite_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec9_Retrofit_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec8_Retrofit_ViewModelScope_RecyclerView_Glide_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec7_Retrofit_RecyclerView_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec6_Retrofit_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec5_coroutine_viewModelScope_Second_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec5_coroutine_viewModelScope_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec4_retrofit_callBackHell_Activity"
            android:exported="false" />
        <activity
            android:name=".ch4_retrofit.lec2_retrofit_Activity"
            android:exported="false" />
        <activity
            android:name=".ch3_LiveData_ViewModel.lec7_ViewModel_LiveData_LifeCycleOwner_Activity"
            android:exported="false" />
        <activity
            android:name=".ch3_LiveData_ViewModel.lec6_Switch_Map_Activity"
            android:exported="false" />
        <activity
            android:name=".ch3_LiveData_ViewModel.lec4_Fragment_LiveData_LifeCycleOwner1_Activity"
            android:exported="false" />
        <activity
            android:name=".ch3_LiveData_ViewModel.lec3_LiveData_MutableLiveData_Activity"
            android:exported="false" />
        <activity
            android:name=".ch3_LiveData_ViewModel.lec2_LiveData_ViewModel_Activity"
            android:exported="false" />
        <activity
            android:name=".ch3_LiveData_ViewModel.lec1_LiveData_Activity"
            android:exported="false" />
        <activity
            android:name=".ch2_View_ViewModel.lec5_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ch2_View_ViewModel.lec5_ViewModelFactory"
            android:exported="false" />
        <activity
            android:name=".ch2_View_ViewModel.lec4_share_ViewModel_Activity_Fragment"
            android:exported="false" />
        <activity
            android:name=".ch2_View_ViewModel.lec3_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ch2_View_ViewModel.lec2_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ch1_android_view.lec5_Adapter_DataBinding"
            android:exported="false" />
        <activity
            android:name=".ch1_android_view.lec4_Adapter_ViewBinding"
            android:exported="false" />
        <activity
            android:name=".ch1_android_view.lec3_DataBinding_Second"
            android:exported="false" />
        <activity
            android:name=".ch1_android_view.lec3_DataBinding"
            android:exported="false" />
        <activity
            android:name=".ch1_android_view.lec2_ViewBinding_Second"
            android:exported="false" />
        <activity
            android:name=".ch1_android_view.lec2_ViewBinding"
            android:exported="false" />
    </application>

</manifest>